<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The retail store stock inventory analytics</title>
</head>
<body style="background-color: #F7EFE5; margin: auto; width: 50%; text-align: center;">
    <h1>Forecast Demand and Optimize inventory</h1>
    <div style="margin: auto; width: 50%;">
        <!--
        <form action="/plot">
            <p>View demand over time plot</p>
            <button>View</button>
        </form>
        <br>
        -->
        <form action="/generate">
            <h4>Generate reorder point and optimal order quantity</h4>
            <button>Generate</button>
        </form>
    </div>
</body>
</html>