<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The retail store stock inventory analytics</title>
</head>
<body style="background-color:#F7EFE5;">
    <div style="margin: auto; width: 50%; display: flex; align-items: center;">
        <h3>Demand over time plot</h3><br>
        <img src="images/demand_time.jpg"><br>
        <h3>Inventory over time plot</h3><br>
        <img src="images/inventory_time.jpg"><br>  
    </div>
</body>
</html>